body {
    width: 100%;
    height: 100vh;
    margin: 0;  
    font-family: Tahoma;
    font-size: 16px;
    position: relative;
}
body::before {
    content: "";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8; 
    position: absolute; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
}

.container{
    max-width: 500px;
    min-width: 500px;
    position: absolute;
    top: 20%;
    left: 36%;
    transform: translate(-50%, -50%);
    border: 2px solid 	rgba(224, 224, 224, 0.5);
    background-color: rgba(224, 224, 224, 0.5);
    height: 450px;
    transform: scale(1.3); 
}

h1{
    text-align: center;
    font-size: 30px;
    min-width: 400px;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #000000;
}

form {
    color:#333;
    min-width: 400px;
    max-width: 500px;
    font-size: 15px;
    text-align: center;
}
  
label {
    display: block;
    margin: 0.8rem 0;
    text-align: center;
}


input[type="email"],input[type="password"]{
    border: none;
    padding: 1em;
    margin-top: 0.5em;
    width: 80%;
    text-align: center;
}

input[type="date"]{
    border: none;
    padding: 1em;
    margin-top: 0.2em;
    width: 80%;
    text-align: center;
}

.container-gender{
    display: flex;
    align-items: center;  
    justify-content: center;  
    margin: 0.8rem 0;
    text-align: center;
}

p,a{
    text-decoration: none;
    font-size: 16px;
}

#submit{
    width: 50%; 
    margin: 1em auto; 
    padding: 1em;
    border: none;
    cursor: pointer;
    clear: both;
}